*.map
*.bak
*.exe
*.obj
*.prf
*.rsm
*.dylib
FastMM*
*.bk1
*.bk2
*.orig
*.dcu
gpprof*
*.ddp

# Delphi local files (user-specific info)
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
*.stat

# Delphi history and backups
__history/
__recovery/
*.~*
*.2007
*.otares

# Project specific
VT.res
Delphi-Midi-Component/Package/MidiComponents2010.res

